@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #34495e;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

.desc {
    width: 700px;
    margin: 300px auto;
    color: #fff;
    text-align: center;
}

.desc h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.desc p {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.btnm {
    position: fixed;
    bottom: 16px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100 ;
}

.btnm span {
    width: 60px;
    height: 4px;
    display: block;
    background: #fff;
    margin: 8px;
    transition: 0.4s all;
}

.btnn span {
    background: #34495e;
}

.menu {
    background: #2980b9;
    height: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: 0.4s all;
    text-align: center;
}

.menu a {
    width: 80px;
    display: inline-block;
    margin: 0 10px;
    color: #34495e;
    cursor: pointer;
    line-height: 80px;
    font-size: 50px;
    transition: 0.4s;
}

.menu a:hover {
    color: #fff;
}

.menu .l1 {
    margin-right: 70px;
}

.menu .l2 {
    margin-left: 70px;
}

.show {
    height: 80px;
}